In [2]:
import nltk
nltk.download(['brown','inaugural'])

[nltk_data] Downloading package brown to
[nltk_data]     /Users/ahyeonyoun/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package inaugural to
[nltk_data]     /Users/ahyeonyoun/nltk_data...
[nltk_data]   Package inaugural is already up-to-date!

True

In [3]:
brown = nltk.corpus.brown

In [4]:
#cfd
cfd = nltk.ConditionalFreqDist(
    (genre, word)
    for genre in brown.categories()
    for word in brown.words(categories=genre) #fileids
)

modals = ['can', 'could', 'would', 'will', 'might', 'may']
cfd.tabulate(conditions=brown.categories(), samples=modals)

                  can could would  will might   may
      adventure    46   151   191    50    58     5
 belles_lettres   246   213   392   236   113   207
      editorial   121    56   180   233    39    74
        fiction    37   166   287    52    44     8
     government   117    38   120   244    13   153
        hobbies   268    58    78   264    22   131
          humor    16    30    56    13     8     8
        learned   365   159   319   340   128   324
           lore   170   141   186   175    49   165
        mystery    42   141   186    20    57    13
           news    93    86   244   389    38    66
       religion    82    59    68    71    12    78
        reviews    45    40    47    58    26    45
        romance    74   193   244    43    51    11
science_fiction    16    49    79    16    12     4

In [17]:
#modals의 빈도수가 포함된 cfd (word -> modal_verb)
cfd2 = nltk.ConditionalFreqDist(
    (genre, word)
    for genre in brown.categories()
    for modal in ['can', 'could', 'would', 'will', 'might', 'may']
    
    for word in brown.words(categories=genre)
        if word.lower() == modal
)
cfd2.tabulate()

                  Can Could   May Might  Will Would   can could   may might  will would
      adventure     2     3     2     1     1     3    46   151     5    58    50   191
 belles_lettres     3     3    14     0    10     5   246   213   207   113   236   392
      editorial     3     1     5     0     2     5   121    56    74    39   233   180
        fiction     2     2     2     0     4     4    37   166     8    44    52   287
     government     2     0    26     0     0     0   117    38   153    13   244   120
        hobbies     8     1    12     0     5     5   268    58   131    22   264    78
          humor     1     3     0     0     0     0    16    30     8     8    13    56
        learned     2     0    12     0     0     2   365   159   324   128   340   319
           lore     0     1     5     1     3     2   170   141   165    49   175   186
        mystery     3     4     2     0     5     3    42   141    13    57    20   186
           news     1     1    27     0     0     2    93    86    66    38   389   244
       religion     2     0     1     0     1     1    82    59    78    12    71    68
        reviews     0     0     2     0     3     1    45    40    45    26    58    47
        romance     5     2     0     0     6     3    74   193    11    51    43   244
science_fiction     0     0     0     0     1     1    16    49     4    12    16    79

### Inaugural
- 연설문 코퍼스

In [9]:
inaugural = nltk.corpus.inaugural

In [10]:
inaugural.fileids() # 연도-이름.txt | '2021-Biden.txt'

['1789-Washington.txt',
 '1793-Washington.txt',
 '1797-Adams.txt',
 '1801-Jefferson.txt',
 '1805-Jefferson.txt',
 '1809-Madison.txt',
 '1813-Madison.txt',
 '1817-Monroe.txt',
 '1821-Monroe.txt',
 '1825-Adams.txt',
 '1829-Jackson.txt',
 '1833-Jackson.txt',
 '1837-VanBuren.txt',
 '1841-Harrison.txt',
 '1845-Polk.txt',
 '1849-Taylor.txt',
 '1853-Pierce.txt',
 '1857-Buchanan.txt',
 '1861-Lincoln.txt',
 '1865-Lincoln.txt',
 '1869-Grant.txt',
 '1873-Grant.txt',
 '1877-Hayes.txt',
 '1881-Garfield.txt',
 '1885-Cleveland.txt',
 '1889-Harrison.txt',
 '1893-Cleveland.txt',
 '1897-McKinley.txt',
 '1901-McKinley.txt',
 '1905-Roosevelt.txt',
 '1909-Taft.txt',
 '1913-Wilson.txt',
 '1917-Wilson.txt',
 '1921-Harding.txt',
 '1925-Coolidge.txt',
 '1929-Hoover.txt',
 '1933-Roosevelt.txt',
 '1937-Roosevelt.txt',
 '1941-Roosevelt.txt',
 '1945-Roosevelt.txt',
 '1949-Truman.txt',
 '1953-Eisenhower.txt',
 '1957-Eisenhower.txt',
 '1961-Kennedy.txt',
 '1965-Johnson.txt',
 '1969-Nixon.txt',
 '1973-Nixon.txt',
 '1977-Carter.txt',
 '1981-Reagan.txt',
 '1985-Reagan.txt',
 '1989-Bush.txt',
 '1993-Clinton.txt',
 '1997-Clinton.txt',
 '2001-Bush.txt',
 '2005-Bush.txt',
 '2009-Obama.txt',
 '2013-Obama.txt',
 '2017-Trump.txt',
 '2021-Biden.txt']

In [11]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (3.4.3)
Requirement already satisfied: cycler>=0.10 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: numpy>=1.16 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: six in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.16.0)

In [13]:
# ['america','citizen'] 빈도수를 cfd로 만드시오. == citizens, citizen's

cfd2 = nltk.ConditionalFreqDist(
    (target_word, fileid[:-4])
    for fileid in inaugural.fileids()
    for target_word in ['america','citizen']
    
    for word in inaugural.words(fileids = fileid)
        if word.lower() == target_word
)
cfd2.tabulate()

        1793-Washington      1797-Adams     1817-Monroe     1821-Monroe      1825-Adams   1837-VanBuren   1841-Harrison     1853-Pierce   1857-Buchanan    1861-Lincoln      1869-Grant      1873-Grant      1877-Hayes   1881-Garfield  1885-Cleveland   1889-Harrison  1893-Cleveland       1909-Taft     1917-Wilson    1921-Harding   1925-Coolidge     1929-Hoover  1937-Roosevelt  1941-Roosevelt  1945-Roosevelt 1953-Eisenhower 1957-Eisenhower    1961-Kennedy    1965-Johnson      1969-Nixon      1973-Nixon     1977-Carter     1981-Reagan     1985-Reagan       1989-Bush    1993-Clinton    1997-Clinton       2001-Bush       2005-Bush      2009-Obama      2013-Obama      2017-Trump      2021-Biden
america               1               5               0               2               0               1               0               0               1               0               0               0               0               1               0               0               0               4               2              15               8               6               1               7               1               3               5               2               3               6              21               2               6               7               7              19              15              11              20              10               8              20              20
citizen               0               1               5               0               1               1              11               1               0               1               2               1               1               2               5               3               3               0               0               0               2               2               1               1               0               3               0               0               3               0               0               0               0               0               1               0               1               1               1               0               2               0               0

In [14]:
cfd2.plot

### Tuple&List
- 불변 객체 vs. 가변 객체

In [22]:
#. 생성
emptyT = ()
emptyT = tuple()

emptyL = []
emptyL = list()

emptyT, emptyL

((), [])

In [24]:
#1. 1 요소 여러 개일 때
alphabetT = ('a', 'b')
alphabetT = 'a', 'b' 
alphabetT 

alphabetL = ['a', 'b']

In [25]:
#1.2. 요소 1개일 때 주의!
alphaT = ('a')
type(alphaT)

str

In [26]:
alphaT = ('b',)
type(alphaT)

tuple

- packing: 한 변수에 여러 데이터를 할당하는 것.
    - list, tuple 자체. a = [1, 2, 3, 4]
- unpacking: 한 변수에 여러 데이터가 들어 있을 때 여러 변수에 나누는 것
    - a='k', b='i', c='m'

In [27]:
a, b, c = 'kim' #unpacking
a, b, c

('k', 'i', 'm')

In [28]:
# 값 교환하기
pwd = 'abcd'
userId = 'sky'
"""
temp1 = userId
temp2 = pwd
pwd = temp1
userId = temp2"""

pwd, userId = userId, pwd
pwd, userId

('sky', 'abcd')

In [29]:
#연산
('a',) + (1,2)
(1,2) * 3

(1, 2, 1, 2, 1, 2)

In [30]:
x = ('a',)
y = (1, 2)
id(x), id(x + y)

(140311255523392, 140311258874688)

In [31]:
# 비교 - 두번째 인자끼리 비교
x = 1, 2 
y = 1, 6

x < y

True

In [32]:
#순회
for i in x:
    print(x)

(1, 2)
(1, 2)

In [33]:
[i for i in x] #1

[1, 2]

In [ ]:
# tuple compregension이 있나요? - 아니요. list comprehension만 되는데 tuple로 변경 가능
tuple([i for i in x]) #2
*[i for i in x], #느림 #3

In [41]:
# 형 변환
dog = 'dog'
dogT = tuple(dog)

In [38]:
(dog,)

('dog',)

In [39]:
list(dog)

['d', 'o', 'g']

In [42]:
#slicing도 동일하게 가능하다.
dogT[0]

'd'

In [44]:
(1, 1, 1, 1) # 튜플도 중복 가능하다.

(1, 1, 1, 1)

[정리]
- tuple 장점
    - 변하지 않는 데이터 시퀀스를 만들 수 있다. 타인의 접근을 막는다.
        - blue=1, white=2, ...
    - 메모리 사용 적다.
    
- list 장점
    - 튜플 장점 필요 없을 때 전부 리스트 사용
    - 데이터를 순차적으로 파악할 때
    - 중복 데이터를 쓸 수 있다는 점 vs. set

### 리스트의 유용한 함수들
- 변경, 삭제, 추가, 
- 리스트 컴프리핸션 업그레이드

In [45]:
num = list(range(5))
num

[0, 1, 2, 3, 4]

In [46]:
#추가
num.append(6) #마지막에 요소 추가

In [47]:
num

[0, 1, 2, 3, 4, 6]

In [49]:
# inser(index, item)
num.insert(0, 8) # 앞에 8을 추가 하고 싶을 때
num

[8, 8, 0, 1, 2, 3, 4, 6]

In [51]:
#여러 개 추가하고 싶을 때
num.extend([6, 6, 6]) # 확장할 때는 list를 사용하여, 리스트를 리스트로 확장하는 것.
num

[8, 8, 0, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6]

In [52]:
x = [6, 6, 6]
num.extend(x)
num

[8, 8, 0, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [53]:
num.append(x) # append에 list를 쓰면 list로 바로 들어가기 때문에 잘 구분해서 사용해야 함
num

[8, 8, 0, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6]]

In [54]:
num += x
num

[8, 8, 0, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [55]:
# offset
num[0] = 9
num

[9, 8, 0, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [56]:
# slice
num[:3] = 2, 2, 2
num

[2, 2, 2, 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [58]:
num[:3] = 'cat' # 하나하나씩 unpacking이 되어서 들어가기 때문에 주의
num

['c', 'a', 't', 1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [59]:
# 삭제
del num[:3]
num

[1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [62]:
# remove(value) #원하는 특정한 값을 넣어주면 됨.
num.remove([6, 6, 6])
num

[1, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [63]:
#pop(index) 기본값=-1
num.pop()
num

[1, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [64]:
num.pop(0)
num

[3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [65]:
#clear
num.clear()
num

[]

In [66]:
# 인덱스
num = list(range(5))
num.index(4)

4

In [67]:
0 in num

True

In [69]:
# 정렬:sort(), sorted()
sorted(num, reverse=True) #변한 값만 복사해서 출력

[4, 3, 2, 1, 0]

In [70]:
num # 따라서 변환 안됨

[0, 1, 2, 3, 4]

In [71]:
num.sort(reverse=True) #리스트.sort(), 값을 할당하지 않아도 된다.

In [72]:
num

[4, 3, 2, 1, 0]

In [73]:
# reverse(), reversed()
num.reverse()
reversed(num)

In [74]:
# 할당
a = list(range(1, 5))
a

[1, 2, 3, 4]

In [75]:
b = a #메모리주소를 참조하는 것
b[0] = 6
a, b

([6, 2, 3, 4], [6, 2, 3, 4])

In [76]:
id(a), id(b)

(140311271350080, 140311271350080)

In [77]:
# shallow copy: 참조하지 않고 새로운 객체에 할당하는 방법, 얕은 복사
c = a.copy()
d = list(a)
e = a[:]

id(a), id(c), id(d), id(e)

(140311271350080, 140311266050560, 140311270816768, 140311271533760)

In [82]:
# deepcopy: 깊은 복사, 하위에 중첩된 리스트 요소가 안 바뀌도록
a. append([1, 2, 3])
a

[6, 2, 3, 4, [1, 2, 3], [1, 2, 3]]

In [83]:
f = a.copy()
id(a), id(f)

(140311271350080, 140311486242240)

In [84]:
f[-1][0] = 9
a, f

([6, 2, 3, 4, [1, 2, 3], [9, 2, 3]], [6, 2, 3, 4, [1, 2, 3], [9, 2, 3]])

In [85]:
import copy
g = copy.deepcopy(a)
g

[6, 2, 3, 4, [1, 2, 3], [9, 2, 3]]

In [86]:
g[-1][0] = 10
a, g

([6, 2, 3, 4, [1, 2, 3], [9, 2, 3]], [6, 2, 3, 4, [1, 2, 3], [10, 2, 3]])

In [87]:
# 순회: zip, enumerate
name = ['kate', 'royce', 'phill']
age = [77, 44, 54]

# (name, age)
for item1, item2 in zip(name, age): # 여러 리스트를 동시에 순회 for loop과는 다름
    print((item1, item2))

('kate', 77)
('royce', 44)
('phill', 54)

In [88]:
for item in name:
    for item2 in age:
        print((item1, item2))

('phill', 77)
('phill', 44)
('phill', 54)
('phill', 77)
('phill', 44)
('phill', 54)
('phill', 77)
('phill', 44)
('phill', 54)

In [89]:
list(zip(name, age)) # 이렇게 쉽게 할 수도 있음

[('kate', 77), ('royce', 44), ('phill', 54)]

In [90]:
# 리스트 + 인덱스 enumerate
for idx, item in enumerate(name):
    print(idx, item)

0 kate
1 royce
2 phill

In [93]:
# 리스트 컴프리핸션으로 바꾸면?
# list(zip(name, age))
[word for word in zip(name, age)]

[('kate', 77), ('royce', 44), ('phill', 54)]

In [94]:
[(i, j+33) for i, j in zip(name, age)]

[('kate', 110), ('royce', 77), ('phill', 87)]

In [96]:
# name, age를 이용해서 새로운 리스트를 생성하는데 (이름, 나이), for문 사용(리.컴 사용X)

new_list = []
for i, j in zip(name, age):
    new_list.append((i, j)) #append 사용
print(new_list)

[('kate', 77), ('royce', 44), ('phill', 54)]

In [ ]:
[(i, j) for i, j in zip(name, age)]

In [99]:
#1. for 문의 리스트 컴프리핸션으로 바꿔보기
temp = []
for i in name:
    empty = []
    for j in age:
        print(i, j)
        temp.append((i, j))
        
"""
(kate, 77),
(kate, 44),
(kate, 54),
"""

kate 77
kate 44
kate 54
royce 77
royce 44
royce 54
phill 77
phill 44
phill 54

'\n(kate, 77),\n(kate, 44),\n(kate, 54),\n'

In [98]:
[(i, j) for j in age for i in name]

[('kate', 77),
 ('royce', 77),
 ('phill', 77),
 ('kate', 44),
 ('royce', 44),
 ('phill', 44),
 ('kate', 54),
 ('royce', 54),
 ('phill', 54)]

In [101]:
#2. [i, j] 리스트의 리스트로 바꿔보기 (리스트 컴프리핸션으로)

for i in name:
    empty = []
    for j in age:
        print(i, j)
        empty.append((i, j))
        
"""
[('kate', 77), ('royce', 77), ('phill', 77)],
('kate', 44), ('royce', 44), ('phill', 44)],
('kate', 54), ('royce', 54), ('phill', 54)],
('kate', 99), ('royce', 99), ('phill', 99)]]
"""

kate 77
kate 44
kate 54
royce 77
royce 44
royce 54
phill 77
phill 44
phill 54

"\n[('kate', 77), ('royce', 77), ('phill', 77)],\n('kate', 44), ('royce', 44), ('phill', 44)],\n('kate', 54), ('royce', 54), ('phill', 54)],\n('kate', 99), ('royce', 99), ('phill', 99)]]\n"

In [ ]:
# [(i, j) for j in age for i in name] -->를 for문으로 바꿨을 때

for i in name:
    for i in age:
        print([i, j])

In [100]:
[[(i, j) for j in age] for i in name]

[[('kate', 77), ('kate', 44), ('kate', 54)],
 [('royce', 77), ('royce', 44), ('royce', 54)],
 [('phill', 77), ('phill', 44), ('phill', 54)]]

In [104]:
sentence = "do not judge a book by its cover"

#[(대문자, 첫글자대문자, 글자수),...] 로 되어 있는 튜플의 리스트 만들기
[(word.upper(), word.title(), len(word)) for word in sentence.split()]

[('DO', 'Do', 2),
 ('NOT', 'Not', 3),
 ('JUDGE', 'Judge', 5),
 ('A', 'A', 1),
 ('BOOK', 'Book', 4),
 ('BY', 'By', 2),
 ('ITS', 'Its', 3),
 ('COVER', 'Cover', 5)]

In [111]:
text= [
    ['Sunja', 'said', 'goodnight', 'to', 'her', 'mother'],
    ['Hansu', 'was', 'no', 'longer', 'in', 'Busan']
]

In [ ]:
#1. 문장마다 스트링으로 변화해서 리스트로 반환
    #['문장1', '문장2']
    
#2. 전체를 스트링으로 반환
    #'문장1 문장2'

#3. 전체 단어 리스트 가져오기
    # [sunja, said, goodnight, ....]

In [ ]:
[sent for sent in text] # 이것이 리.컨의 기본형

In [ ]:
[sent for sent in text]

In [112]:
' '.join([' '.join(sent) for sent in text]) 
# 2번

'Sunja said goodnight to her mother Hansu was no longer in Busan'

In [113]:
[word for sent in text for word in sent] #3번

['Sunja',
 'said',
 'goodnight',
 'to',
 'her',
 'mother',
 'Hansu',
 'was',
 'no',
 'longer',
 'in',
 'Busan']

In [114]:
# if 문 -else
[i for i in range(10)] # 짝수면 가져오고, 홀수면 '홀수'로 한다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
[i for i in range(10) if i%2 == 0 else '홀수'] #nope

SyntaxError: invalid syntax (588876903.py, line 1)

In [116]:
[i if i%2 == 0 else '홀수' for i in range(10)]

[0, '홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수']

In [117]:
#inaugural 정제하기

In [118]:
import nltk
nltk.download('brown')
inaugural = nltk.corpus.inaugural

[nltk_data] Error loading inauhural: Package 'inauhural' not found in
[nltk_data]     index

In [120]:
brown.categories()

['adventure',
 'belles_lettres',
 'editorial',
 'fiction',
 'government',
 'hobbies',
 'humor',
 'learned',
 'lore',
 'mystery',
 'news',
 'religion',
 'reviews',
 'romance',
 'science_fiction']

In [126]:
#[['They', 'neither', 'liked' ...], []] 이런 식으로 만들어라.
# 문장 분절 -> 단어 분절
# 불필요한 것들 제거하기
"""
    - 문장부호, POS 제거
    - 's, 'nt (she's -> she, 's) (don't -> do, 'nt)
    - 'fly-dotted' -> fly, dotted
"""

'They/ppss'

'They/ppss'

In [125]:
brown.raw(categories='romance')[:5000]

"\n\n\tThey/ppss neither/cc liked/vbd nor/cc disliked/vbd the/at Old/jj-tl Man/nn-tl ./.\nTo/in them/ppo he/pps could/md have/hv been/ben the/at broken/vbn bell/nn in/in the/at church/nn tower/nn which/wdt rang/vbd before/in and/cc after/in Mass/nn-tl ,/, and/cc at/in noon/nn ,/, and/cc at/in six/cd each/dt evening/nn --/-- its/pp$ tone/nn ,/, repetitive/jj ,/, monotonous/jj ,/, never/rb breaking/vbg the/at boredom/nn of/in the/at streets/nns ./.\nThe/at Old/jj-tl Man/nn-tl was/bedz unimportant/jj ./.\n\n\n\tYet/rb if/cs he/pps were/bed not/* there/rb ,/, they/ppss would/md have/hv missed/vbn him/ppo ,/, as/cs they/ppss would/md have/hv missed/vbn the/at sounds/nns of/in bees/nns buzzing/vbg against/in the/at screen/nn door/nn in/in early/jj June/np ;/. ;/.\nor/cc the/at smell/nn of/in thick/jj tomato/nn paste/nn --/-- the/at ripe/jj smell/nn that/wps was/bedz both/abx sweet/jj and/cc sour/jj --/-- rising/vbg up/rp from/in aluminum/nn trays/nns wrapped/vbn in/in fly-dotted/jj cheesecloth/nn ./.\nOr/cc the/at surging/vbg whirling/vbg sounds/nns of/in bats/nns at/in night/nn ,/, when/wrb their/pp$ black/jj bodies/nns dived/vbd into/in the/at blackness/nn above/in and/cc below/in the/at amber/jj street/nn lights/nns ./.\nOr/cc the/at bay/nn of/in female/nn dogs/nns in/in heat/nn ./.\n\n\n\tThey/ppss never/rb called/vbd him/ppo by/in name/nn ,/, although/cs he/pps had/hvd one/pn ./.\nFilippo/np Rossi/np ,/, that's/dt+bez what/wdt he/pps was/bedz called/vbn in/in the/at old/jj country/nn ;/. ;/.\nbut/cc here/rb he/pps was/bedz just/rb Signore/np or/cc the/at Old/jj-tl Man/nn-tl ./.\nBut/cc this/dt was/bedz not/* unusual/jj ,/, because/cs youth/nn in/in these/dts quarters/nns was/bedz always/rb pushed/vbn at/in a/at distance/nn from/in its/pp$ elders/nns ./.\nYouth/nn obeyed/vbd when/wrb commanded/vbn ./.\nIt/pps went/vbd to/in church/nn on/in Sunday/nr and/cc one/cd Saturday/nr a/at month/nn went/vbd to/in confession/nn ./.\nBut/cc youth/nn asked/vbd nothing/pn of/in its/pp$ parents/nns --/-- not/* a/at touch/nn of/in the/at hand/nn or/cc a/at kiss/nn given/vbn in/in passing/vbg ./.\n\n\n\tThe/at only/ap thing/nn unusual/jj about/in the/at Old/jj-tl Man/nn-tl had/hvd long/jj since/rb happened/vbn ./.\nBut/cc the/at past/nn was/bedz dead/jj here/rb as/cs the/at present/jj was/bedz dead/jj ./.\nOnce/cs the/at Old/jj-tl Man/nn-tl had/hvd had/hvn a/at wife/nn ./.\nAnd/cc once/cs she/pps ,/, too/rb ,/, ignored/vbd him/ppo ./.\nWith/in a/at tiny/jj fur-piece/nn wrapped/vbd around/in her/pp$ shoulders/nns ,/, she/pps wiggled/vbd her/pp$ satin-covered/jj buttocks/nns down/in the/at street/nn before/in him/ppo and/cc didn't/dod* stop/vb ./.\nIn/in one/cd hand/nn she/pps clutched/vbd a/at hundred/cd dollar/nn bill/nn and/cc in/in the/at other/ap a/at straw/nn suitcase/nn ./.\nThe/at way/nn she/pps strutted/vbd down/in the/at street/nn ,/, the/at Old/jj-tl Man/nn-tl would/md have/hv been/ben blind/jj not/* to/to have/hv noticed/vbn both/abx ./.\nWithout/in looking/vbg at/in him/ppo ,/, without/in looking/vbg at/in anything/pn except/in Drexel/np-tl Street/nn-tl directly/rb in/in front/nn of/in her/ppo ,/, she/pps climbed/vbd up/rp into/in one/cd of/in those/dts orange/jj streetcars/nns ,/, rode/vbd away/rb in/in it/ppo ,/, and/cc never/rb came/vbd back/rb ./.\n\n\n\t``/`` But/cc she/pps shouldn't/md* have/hv come/vbn here/rb in/in the/at first/od place/nn ''/'' ,/, the/at women/nns had/hvd said/vbn ./.\n\n\n\t``/`` No/rb ,/, no/rb ./.\nNot/* that/dt one/pn ./.\nShe/pps thought/vbd she/pps was/bedz bigger/jjr than/cs we/ppss are/ber because/cs she/pps came/vbd from/in Torino/np ''/'' ./.\n\n\n\t``/`` Eh/uh ,/, Torino/np !/. !/.\nShe/pps gave/vbd herself/ppl fancy/jj airs/nns !/. !/.\nJust/rb because/cs she/pps had/hvd a/at part/nn on/in the/at stage/nn in/in the/at old/jj country/nn ,/, she/pps thought/vbd she/pps could/md carry/vb her/pp$ head/nn higher/rbr than/cs ours/pp$$ ''/'' ./.\nThey/ppss had/hvd slapped/vbn their/pp$ thighs/nns ./.\n\n\n\t``/`` It's/pps+bez not/* for/in making/vbg pretty/jj speeches/nns about/in Dante/np those/dts actresses/nns get/vb paid/vbn so/ql good/rb ''/'' ./.\n\n\n\t``/`` Henh/uh ''/'' !/. !/.\nCalloused/vbn fingers/nns ,/, caressed/vbn only/rb by/in the/at smoothness/nn of/in polished/vbn rosaries/nns ,/, had/hvd swayed/vbn excitedly/rb beneath/in puckered/vbn chins/nns where/wrb tiny/jj black/jj hairs/nns sprouted/vbd ,/, never/rb to/to be/be tweezed/vbn away/rb ./.\nMauve-colored/jj mouths/nns that/wps had/hvd never/rb known/vbn anything/pn sweeter/jjr than/cs the/at taste/nn of/in new/jj wine/nn and/cc the/at passion/nn of/in man's/nn$ tongue/nn had/hvd not/* smiled/vbn ,/, but/cc had/hvd condemned/vbn again/rb and/cc again/rb ./.\n``/`` Puttana/fw-nn ''/'' !/. !/.\n\n\n\tBut/cc if/cs the/at Old/jj-tl Man/nn-tl even/rb thought/vbd about/in his/pp$ wife/nn now/rb ,/, nobody/pn cared/vbd a/at fig/nn ./.\nIt/pps was/bedz enough/ap for/in people/nns to/to know/vb that/cs at/in one/cd time/nn he/pps had/hvd looked/vbn down/in the/at street/nn at/in the/at f"