## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없다. => 인덱싱 불가능
    - "키로 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가, 가능
    - 타입: dict
    - 형 변환: 'dict()'
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a:[1,2,3,4]

In [7]:
a = [1,2,3]
a[0]

1

In [8]:
empty = dict()
empty = {}
#set{}
empty = {} # dict type
empty = set()
type(empty)

set

In [9]:
a = {1,2,3} # set
a = {1:'apple',2:'banana',3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [10]:
b = {'':'', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [11]:
#출석부로 딕셔너리 만들기
이름, 학번=key, 학과
james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과

{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

SyntaxError: invalid syntax (3582081548.py, line 3)

## 형 변환

In [12]:
ex1 = [[1,2], [2,3], [3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [13]:
ex2 = [(1,2), (2,3), (3,4)]
dict(ex2)

{1: 2, 2: 3, 3: 4}

In [14]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

## 항목 조회 & 변경

In [15]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle':'Eric',
    'Jones':'Terry',
    'Palin':'Michael'
}

In [16]:
pythons['Idle']

'Eric'

In [17]:
pythons['Hwa'] = 'choloe' #추가

In [18]:
pythons['Idle'] = 'James'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'choloe'}

In [19]:
#예외 없이
'Hwa' in pythons

True

In [20]:
#get()
pythons.get('Lee', 0) # 없는 키는 None 변환/

0

### 전체 조회
- keys()
- values()
- items()

In [21]:
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [22]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'choloe'])

In [23]:
pythons.items() # (키, 값) 튜플 형태로 => 순회 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'choloe')])

In [24]:
for k, v in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = choloe

In [25]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'choloe')]

In [26]:
[k[1] for k in pythons.items()] # 0=key, 1=value

['Graham', 'John', 'James', 'Terry', 'Michael', 'choloe']

In [27]:
[k for k in pythons] #keys

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

## ex
animal: num_leg 딕셔너리 만드시오.

In [2]:
animal = 'cat snake money ant spider'. split()
legs = 4, 0, 2, 4, 8

num_leg = {}
for k in range(len(animal)):
    num_leg[animal[k]] = legs[k]
print(num_leg)

{'cat': 4, 'snake': 0, 'money': 2, 'ant': 4, 'spider': 8}

#### Q. pythons에서 성:이름,성 첫글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 반환하기

- dict comprehension 쓰지 말기

In [29]:
#[(), ()] # => items()
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 6)]

In [30]:
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 6)]

In [31]:
pythons
# 순회한다
# 각 요소 변화

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'choloe'}

In [32]:
[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 6)]

### 값 수정, 삭제, 복제, 비교

In [33]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'choloe'}

In [34]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [35]:
pythons.update(others)

In [36]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'choloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [37]:
#py 3
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'choloe'}

In [38]:
# 삭제
del pythons['Hwa']

In [39]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [40]:
del pythons['Lee']

KeyError: 'Lee'

In [41]:
pythons.pop('Marx')

'Groucho'

In [42]:
pythons.pop('Lee', 0) # 없으면 예외는 나지만, 예외 시 출력 값을 지정할 수 있다.

0

In [43]:
# 전체 삭제
pythons.clear()
pythons = {}

In [44]:
pythons

{}

### 복제
- 할당
- 얕은 복사
- 깊은 복사

In [45]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [46]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [47]:
a = {1:[1,2,3], 2: [2,3,4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [48]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다 만 된다.

In [49]:
a != b

True

### Ex
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 
    i) key, ii)value

In [50]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [51]:
dictionary = dict(zip(solar_kor, solar_eng))
print(dictionary)
add = {
    '명왕성':'pluto'
}
dictionary.update(add)
for i in list(solar)
if '성' in dictionary:

SyntaxError: invalid syntax (335824605.py, line 7)

In [78]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system['명왕성'] = 'pluto'
dict([(k, system[k]) for k in system if k.endswith('성')])
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

## 컴프리헨션

In [79]:
letter = 'apple'
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [84]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [85]:
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [87]:
{w: word.count(w) for w in set(word) if w in vowels}

{'e': 1, 'a': 2, 'i': 1, 'o': 4}

In [88]:
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

#### sorting

In [89]:
sorted(system) # 키만 가져옴

['금성', '명왕성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [94]:
sorted(system.items(), key=fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [92]:
def fx(x):
    return x[1]

In [93]:
sorted(system.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

### Set
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합,...
- bag, 인덱싱도 없다.

In [95]:
empty = set()
empty

set()

In [96]:
a = {1,2,3}
a

{1, 2, 3}

In [98]:
a = set((1,2,3))
a

{1, 2, 3}

In [100]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [101]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [103]:
drinks = {
    'martini':{'vodka', 'kahlua'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'vodka'},
    'manhattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth 없는 술 출력하기

In [ ]:
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)
        
for k, v in drinks.items():
    if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
        print(k)
        
for name, liquid in drinks.items():

In [ ]:
a = {1,2,3}
b = {2,3,4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b, b - a

In [104]:
for k, v in drinks.items():
    d = {'cream', 'vermouth'}
    if 'vodka' in v and len(v.intersection(d)) == 0:
        print(k)

martini
black russian
screwdriver

In [ ]:
# issubset

In [ ]:
{s for s in range(5)}

In [106]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### Project
- 테스크 해결
- 수업 30분 랜덤으로 코드 설명 => 문제가 뭐였고, 어떤 것을 중심으로 코드를 짰고, 어떤 부분에서는 해결이 안되었는데 그래서 어떻게 해서 뭐 했고, 이 부분은 잘한 것 같다, 분석에 관한 것을 말하면 됨, 이 코드를 100퍼센트 이해했다는 것을 증명하면 됨.
- 제출: 수요일 자정

In [107]:
!pip install pylint
!pylint example.py

!pip install py pydocstyle
!pydocstyle example.py

Requirement already satisfied: pylint in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (2.9.6)
Requirement already satisfied: astroid<2.7,>=2.6.5 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from pylint) (2.6.6)
Requirement already satisfied: toml>=0.7.1 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from pylint) (0.10.2)
Requirement already satisfied: mccabe<0.7,>=0.6 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from pylint) (0.6.1)
Requirement already satisfied: isort<6,>=4.2.5 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from pylint) (5.9.3)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: setuptools>=20.0 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
Requirement already satisfied: wrapt<1.13,>=1.11 in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Requirement already satisfied: py in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (1.10.0)
Requirement already satisfied: pydocstyle in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (6.1.1)
Requirement already satisfied: snowballstemmer in /Users/ahyeonyoun/opt/anaconda3/lib/python3.9/site-packages (from pydocstyle) (2.1.0)
WARNING: Error in file example.py: [Errno 2] No such file or directory: 'example.py'